<!-- partial:header -->
<%- include ('admin/admin-header.ejs') %>
<div class="container-scroller">
  <!-- partial:top nav bar -->
  <%- include ('admin/top-nav.ejs') %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:top side bar -->
    <%- include ('admin/side-nav.ejs') %>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <button data-toggle="modal" data-target="#basicExampleModal"
                class="btn btn-gradient-dark btn-block">Create A Playlist</button>

              <!-- Modal -->
              <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Playlist Modal</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label>Title</label>
                      <input class="form-control" type="text" id="c-playlist-title" placeholder="Playlist name" />
                      <br />
                      <label>Type</label>
                      <select class="form-control" id="c-playlist-type">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onclick="CreatePlaylist()">Save Playlist</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <form method="POST" action="/user/library/search">
                <input name="Name" class="form-control" type="text" placeholder="Search..." required /><br>
                <button type="submit" class="btn btn-gradient-dark">Search for movie</button>
              </form>

              <hr />

            </div>
          </div>
        </div>

        <div class="col-12 grid-margin stretch-card">
          <div class="card">

            <style>
              .movie-block {
                text-align: center;
              }
            </style>

            <div class="card-body" id="movies-container">

              < % if (!fromSearch) { %>
                <div class="row">

                  < % for (let movie of movies) { %>

                    <div class="col-sm-4 movie-block">

                      <form method="POST" action="/user/video/< % = movie.Name %>">

                        <input value="< %= movie.Name %>" name="Name" hidden />

                        <img class="img-thumbnail movie-block-img" src="< % = movie.Poster_Path %>"
                          style="height:auto;width:100%" />

                        <br>

                        <h3 class="movie-block-name">
                          < %=movie.Name %>
                        </h3>

                        <p>
                          Rating: <span class="movie-block-vote">
                            < %=movie.Vote %>
                          </span><br>
                          Release year: <span class="movie-block-date">
                            < %=movie.Date %>
                          </span>
                        </p>

                        <center>
                          <button type="submit" class="btn btn-gradient-info btn-block">View Movie</button>
                        </center>

                      </form>

                    </div>

                    < % } %>
                </div>
                < % }else{ %>

                  <div class="row">

                    < % for (let movie of movies) { %>

                      <div class="col-sm-4 movie-block">

                        <form method="POST" action="/user/video/< %= movie.Name %>">

                          <input value="<  %= movie.Name %>" name="Name" hidden />

                          <img class="img-thumbnail movie-block-img" src="< %= movie.Poster_Path %>"
                            style="height:auto;width:100%" />

                          <br>

                          <h3 class="movie-block-name">
                            < %=movie.Name %>
                          </h3>

                          <p>
                            Rating: <span class="movie-block-vote">
                              < %=movie.Vote %>
                            </span><br>
                            Release year: <span class="movie-block-date">
                              < %=movie.Date %>
                            </span>
                          </p>

                          < % if (movie.Name !="No data found!" ){ %>
                            <center>
                              <button type="submit" class="btn btn-gradient-info btn-block">View Movie</button>
                            </center>
                            < % } %>

                        </form>

                      </div>

                      < % } %>
                  </div>

                  < % }%>

                    <center>
                      <br>
                      <button class="btn btn-gradient-info" id="thumbnailsPagination">Found Less than 6 Movies</button>
                      <button class="btn btn-gradient-primary" id="thumbnailsPaginationPrevious"
                        onclick="loadPreviousBatch()">Previous 3</button>
                      <button class="btn btn-gradient-primary" id="thumbnailsPaginationNext"
                        onclick="loadNextBatch()">Next
                        3</button>
                      <br>
                    </center>

            </div>
          </div>
        </div>

        < % if (!fromSearch) { %>

          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h3>Seen Movies</h3>

                <div class="row">

                  < % for (let seenMovie of SeenMovies) { %>

                    <div class="col-sm-4">

                      <form method="POST" action="/user/video/< %= seenMovie.MovieName %>">

                        <input value="< %= seenMovie.MovieName %>" name="Name" hidden />

                        <img class="img-thumbnail" src="< %= seenMovie.MovieURL %>" style="height:auto;width:100%" />

                        <br>

                        <h3 class="movie-block-name">
                          < %=seenMovie.MovieName %>
                        </h3>

                        <center>
                          <button type="submit" class="btn btn-gradient-info btn-block">View Movie</button>
                        </center>

                      </form>

                    </div>

                    < % } %>
                </div>

              </div>
            </div>
          </div>

              <%- include ('admin/admin-footer.ejs') %>

              <script>
                const socket = io('/api/playlist');
                console.log(socket);
              </script>

              <script>
                /* Create a playlist */
                const CreatePlaylist = () => {
                  const title = document.getElementById("c-playlist-title").value;
                  const type = document.getElementById("c-playlist-type").value;
                  const token = localStorage.getItem("token");

                  fetch(`/api/playlist/create`, {
                      method: 'POST',
                      headers: {
                        'Authorization': token,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                      },
                      body: JSON.stringify({
                        title: title,
                        type: type
                      })
                    })
                    .then(res => {
                      if (res.status == 200)
                        return res.json();
                      else
                        alert("An error occured please try again!");
                    })
                    .then(data => {
                      //Header tag
                      if(data.success){
                        alert("Playlist Created!");
                        location.assign("/explore");
                      }else{
                        alert(data.message);
                      }

                    })
                    .catch(error => {
                      alert(`An error occured! ${error}`);
                    });
                }
              </script>
      </div>
    </div>
  </div>
  <%- include ('admin/load-scripts.ejs') %>
  </body>

  </html>