<!-- partial:header -->
<%- include ('admin/admin-header.ejs') %>
<div class="container-scroller">
  <!-- partial:top nav bar -->
  <%- include ('admin/top-nav.ejs') %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:top side bar -->
    <%- include ('admin/side-nav.ejs') %>
    <div class="main-panel">
      <div class="content-wrapper">

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

              <button data-toggle="modal" data-target="#basicExampleModal"
                class="btn btn-gradient-dark btn-block">Create A Playlist</button>

              <!-- Modal -->
              <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create Playlist Modal</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label>Title</label>
                      <input class="form-control" type="text" id="c-playlist-title" placeholder="Playlist name" />
                      <br />
                      <label>Type</label>
                      <select class="form-control" id="c-playlist-type">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onclick="CreatePlaylist()">Save Playlist</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Start: Search -->
        <%- include ('search.ejs') %>
        <!-- End: Search -->

        <div class="col-12 grid-margin stretch-card">
          <div class="card">

            <style>
              .movie-block {
                text-align: center;
              }
            </style>

            <div class="card-body" id="movies-container">
              <h2>Public Playlist</h2>

              <div class="row" id="publicPlaylist">

                <div class="col-sm-4 movie-block">

                  <div>

                    <img class="img-thumbnail movie-block-img" src="https://placeimg.com/500/500/any"
                      style="height:auto;width:100%" />

                    <br>

                    <h3 class="movie-block-name">
                      No Playlist
                    </h3>

                    <center>
                      <button type="submit" class="btn btn-gradient-info btn-block">Create A Public Playlist</button>
                    </center>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>


        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h2>Private Playlist</h2>

              <div class="row" id="privatePlaylist">

                <div class="col-sm-4 movie-block">

                  <div>

                    <img class="img-thumbnail movie-block-img" src="https://placeimg.com/500/500/any"
                      style="height:auto;width:100%" />

                    <br>

                    <h3 class="movie-block-name">
                      No Playlist
                    </h3>

                    <center>
                      <button type="submit" class="btn btn-gradient-info btn-block">Create A Private Playlist</button>
                    </center>

                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

        <script>
          const token = localStorage.getItem("token");

          const getPublicPlaylists_currentUserPrivate = () => {

            fetch(`/api/explore`, {
                method: 'GET',
                headers: {
                  'Authorization': token
                }
              })
              .then(res => {
                if (res.status == 200)
                  return res.json();
                else
                  alert("An error occured please try again!");
              })
              .then(data => {
                const playlist = data.playLists;
                const playlistNum = data.playLists.length;
                const publicView = document.getElementById("publicPlaylist");
                const privateView = document.getElementById("privatePlaylist");

                publicView.innerHTML = "";
                privateView.innerHTML = "";

                for (let index = 0; index < playlistNum; index++) {
                  if (playlist[index].type == "public") {
                    publicView.innerHTML += `
                    
                    <div class="col-sm-4 movie-block">

                    <div>
                    
                      <input value=">" name="Name" hidden />
                    
                      <img class="img-thumbnail movie-block-img" src="https://placeimg.com/500/500/any"
                        style="height:auto;width:100%" />
                    
                      <br>
                    
                      <h3 class="movie-block-name">
                        ${playlist[index].name}
                      </h3>
                    
                      <p>
                        Created Date: <span class="movie-block-date">
                          ${playlist[index].created_at}
                        </span>
                      </p>
                    
                      <center>
                        <button type="submit" class="btn btn-gradient-info btn-block">View Playlist</button>
                      </center>
                    
                    </div>

</div>

                    `;
                  } else {

                    privateView.innerHTML += `
                    
                    <div class="col-sm-4 movie-block">

                    <div>
                    
                      <input value=">" name="Name" hidden />
                    
                      <img class="img-thumbnail movie-block-img" src="https://placeimg.com/500/500/any"
                        style="height:auto;width:100%" />
                    
                      <br>
                    
                      <h3 class="movie-block-name">
                        ${playlist[index].name}
                      </h3>
                    
                      <p>
                        Created Date: <span class="movie-block-date">
                          ${playlist[index].created_at}
                        </span>
                      </p>
                    
                      <center>
                        <button type="submit" class="btn btn-gradient-info btn-block">View Playlist</button>
                      </center>
                    
                    </div>

</div>

                    `;

                  }
                }

              })
              .catch(error => {
                alert(`An error occured! ${error}`);
              });
          }

          getPublicPlaylists_currentUserPrivate();
        </script>

        <script src="/socket.io/socket.io.js"></script>

        <script>
          const socket = io('/api/playlist');

          socket.on("welcome", (msg) => {
            console.log(msg);
          });
        </script>

        <script>
          /* Create a playlist */

          const CreatePlaylist = () => {
            const title = document.getElementById("c-playlist-title").value;
            const type = document.getElementById("c-playlist-type").value;
            const DId = localStorage.getItem("_deezerId");
            const DToken = localStorage.getItem("deezerToken");
            const userid = localStorage.getItem("_id");

            socket.emit('create playlist', {
              _deezerId: DId,
              deezerToken: DToken,
              title: title,
              type: type,
              userId: userid
            });
          }



          socket.on("create playlist error", (message) => {
            alert(message);
          });

          socket.on("server error", (message) => {
            alert(message);
          });

          socket.on("create playlist success", ({
            message,
            playlist
          }) => {
            alert(message);
          });
        </script>
      </div>
    </div>
  </div>
  <%- include ('admin/load-scripts.ejs') %>
  </body>

  </html>