<!-- partial:header -->
<%- include ('admin/admin-header.ejs') %>
<div class="container-scroller">
  <!-- partial:top nav bar -->
  <%- include ('admin/top-nav.ejs') %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:top side bar -->
    <%- include ('admin/side-nav.ejs') %>
    <div class="main-panel">
      <div class="content-wrapper">

        <!-- Start: Search
        <%- include ('search.ejs') %>
        End: Search -->

        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-6 pr-1">
                    <img src="https://placeimg.com/500/500/any" class="mb-2 rounded" style="width:300px" alt="image">
                  </div>
                  <div class="col-6 pl-1">
                    <h2><strong>Playlist Name</strong></h2>
                    <p><strong>Username</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Tracklist</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th> Track </th>
                        <th> Artist </th>
                        <th> Album </th>
                        <th> Duration</th>
                        <th> Actions(Play and Stop)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image"> John Doe
                        </td>
                        <td> Loosing control on server </td>
                        <td>
                          <label class="badge badge-gradient-danger">REJECTED</label>
                        </td>
                        <td> Dec 3, 2017 </td>
                        <td> WD-12348 </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            //Returns playlis id from url
            function returnPlaylistId(){
                let url = window.location.href;
                let arr = url.split("/");

                return (arr[arr.length - 1]);
            }

            const userId = localStorage.getItem("_id");
            const socket = io('/api/playlist');
            const PlaylistId = returnPlaylistId();

            socket.emit('playlist data', {
                _deezerPId: PlaylistId
            })

            socket.on('playlist data success', (data) => {
                console.log(data);
            })

            //console.log("Playlis Id;", returnPlaylistId());
        </script>

    
      </div>
    </div>
  </div>
  <%- include ('admin/load-scripts.ejs') %>
  </body>

  </html>