<!-- partial:header -->
<%- include ('admin/admin-header.ejs') %>
<div class="container-scroller">
  <!-- partial:top nav bar -->
  <%- include ('admin/top-nav.ejs') %>
  <div class="container-fluid page-body-wrapper">
    <!-- partial:top side bar -->
    <%- include ('admin/side-nav.ejs') %>
    <div class="main-panel">
      <div class="content-wrapper">

        <!-- Start: Search
        <%- include ('search.ejs') %>
        End: Search -->

        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>

    
      </div>
    </div>
  </div>
  <%- include ('admin/load-scripts.ejs') %>
  </body>

  </html>